{% set current_children = "Autoresponsive grids" %}
{% set current_section = "Structure" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1 class="mr-l"><span class="label-css fz-xl va-m">CSS</span> Autoresponsive Grids</h1>
    <p class="mb-n">This grids works automatically with all resolutions. Resize the window to check the behaviour.</p>
    <h2 class="mt-l">1 Column</h2>
    {{ demos.demo(
    '1-column',
    '../_demos/grids/1-column.html'
    )}}
    <h2 class="mt-l">2 Columns</h2>
    {{ demos.demo(
    '2-column',
    '../_demos/grids/2-columns.html'
    )}}
    <h2 class="mt-l">3 Columns</h2>
    {{ demos.demo(
    '3-column',
    '../_demos/grids/3-columns.html'
    )}}
    <h2 class="mt-l">4 Columns</h2>
    {{ demos.demo(
    '4-column',
    '../_demos/grids/4-columns.html'
    )}}
    <h2 class="mt-l">5 Columns</h2>
    {{ demos.demo(
    '5-column',
    '../_demos/grids/5-columns.html'
    )}}
    <h2 class="mt-l">12 Columns</h2>
    {{ demos.demo(
    '12-column',
    '../_demos/grids/12-columns.html'
    )}}
{% endblock %}
