{% set current_children = "Stats Tables" %}
{% set current_section = "Tables" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-css fz-xl va-m">CSS</span> <span class="label-js fz-xl va-m">JS</span> Stats Tables</h1>
    <section class="box-lighten">
        <h2>Line Stats table</h2>
        {{ demos.demo(
            'table-line',
            '../_demos/tables/table-line.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Pie Stats table</h2>
        {{ demos.demo(
            'table-pie',
            '../_demos/tables/table-pie.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Bar Stats table</h2>
        {{ demos.demo(
            'table-bar',
            '../_demos/tables/table-bar.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Area Stats table</h2>
        {{ demos.demo(
            'table-area',
            '../_demos/tables/table-area.html'
        )}}
    </section>
    {{ demos.settings(
    {
        "1" : {
            "name" :        "data-tc-type",
            "description" : "Type of stats (pie, bar,area or line)",
            "default" : "line"
        },
        "2" : {
            "name" :        "data-tc-width",
            "description" : "Width of the stats and the table in px",
            "default" : "autowidth based on parent element"
        },
        "3" : {
            "name" :        "data-tc-height",
            "description" : "Height of the stats and the table in px",
            "default" : "300"
        },
        "4" : {
            "name" :        "data-tc-table",
            "description" : "Defines the position of the table (up, down, modal or hide)",
            "default" : "modal"
        }
    }
    )}}
{% endblock %}
