{% macro demo(id, path, scss, test, form, minHeight, skin, code) %}
    {% set test = test|default(false) %}
    {% set code = code|default(true) %}
    {% set minHeight = minHeight|default(false) %}
    {% set form = form|default(false) %}
    {% set scss = scss|default(false) %}
    {% set skin = skin|default(false) %}
    <div data-tc-modules="tabs">
        {% if test %}
        <a href="{{ relative_path ~ url.base }}/tests/{{ test }}.html" target="_blank" class="js-tests"><i class="icon-external-link"></i> Launch Js Tests</a>
        {% endif %}
        <section id="tab-{{ id }}-1" data-tc-name="Demo">
            <div class="{% if skin == 'dark' %}box-invert{% else %}box-background{% endif %}" {% if minHeight != false %}style="min-height:{{ minHeight }}"{% endif %}>
                {% if form == true %}
                <form class="forms" method="get">
                    <fieldset>
                        <ol>
                            <li>
                                {% endif %}
                                {%  include path %}
                                {% if form == true %}
                            </li>
                        </ol>
                        <button type="submit" class="button">Send</button>
                    </fieldset>
                </form>
                {% endif %}
            </div>
        </section>
        {% if code %}
        <section id="tab-{{ id }}-2" data-tc-name="Code">
            <div class="box-background">
                <pre>
	                <code data-tc-modules="code">{% filter escape %}{%  include path %}{% endfilter %}</code>
                </pre>
            </div>
        </section>
        {% endif %}
        {% if scss %}
            <section id="tab-{{ id }}-3" data-tc-name="Scss">
                <div class="box-background">
                <pre>
	                <code data-tc-modules="code">{% filter escape %}{%  include scss %}{% endfilter %}</code>
                </pre>
                </div>
            </section>
        {% endif %}
    </div>
{% endmacro %}

{% macro code(id, path, test) %}
    {% set test = test|default(false) %}
    {% if test %}
        <a href="{{ relative_path ~ url.base }}/tests/{{ test }}.html" target="_blank" class="js-tests"><i class="icon-external-link"></i> Launch Js Tests</a>
    {% endif %}
    <pre><code data-tc-modules="code">{% filter escape %}{%  include path %}{% endfilter %}</code></pre>
{% endmacro %}

{% macro settings(terms) %}
        <hr />
        <h2 class="mb-m">Attributes</h2>
        <dl class="list">
            {% for term in terms %}
            <dt><h5 class="mb-n c-primary">{{term.name}}</h5></dt>
            <dd class="mb-l">
                <p class="mb-s">{{term.description}}</p>
                {% if term.default %}
                <p class="fz-xs c-secondary">DEFAULT: {{ term.default }}</p>
                {% endif %}
            </dd>
            {% endfor %}
        </dl>
{% endmacro %}

{% macro scss(demopath, scsspath) %}
    <div data-tc-modules="tabs">
        <section id="tab-1" data-tc-name="Description">
            {% filter nl2br |replace({'/*':'<p class="box-background">', '*/':'</p></section><section id="tab-2" data-tc-name="SCSS code"><div class="box-background"><pre><code data-tc-modules="code">'}) %}{%  include scsspath |e('html') %}{% endfilter %}</pre></code></div>
        </section>
        <section id="tab-0" data-tc-name="Demo">
            <div class="box-background">
                {%  include demopath %}
            </div>
        </section>
        <section id="tab-3" data-tc-name="Demo Code">
            <div class="box-background">
                    <pre><code data-tc-modules="code">{% filter escape %}{%  include demopath %}{% endfilter %}</code></pre>
            </div>
        </section>
    </div>
{% endmacro %}

{% macro scss_object(scsspath) %}
    <section class="box-lighten">
        <h2>Customize the appearance</h2>
        <p>You can customize the appearance of this object by setting up in you config the following map. By defaults de values are the indicated here.</p>
        <pre data-tc-modules="code"><code data-tc-modules="scss-group" data-tc-group="vars">{%  include scsspath |e('html') %}</code></pre>
    </section>
{% endmacro %}