{#
{% macro demo(id, path, scss, test, form, minHeight, skin, code) %}
    {% set test = test|default(false) %}
    {% set code = code|default(true) %}
    {% set minHeight = minHeight|default(false) %}
    {% set form = form|default(false) %}
    {% set scss = scss|default(false) %}
    {% set skin = skin|default(false) %}
        {% if form == true %}
        <form class="forms" method="get">
            <fieldset>
                <ol>
                    <li>
                        {% endif %}
                        {%  include path %}
                        {% if form == true %}
                    </li>
                </ol>
                <button type="submit" class="button">Send</button>
            </fieldset>
        </form>
        {% endif %}
{% endmacro %}

#}

{% macro demo(id, path, scss, js, form, minHeight, skin, code, test) %}
    {% set js = js|default(false) %}
    {% set test = test|default(false) %}
    {% set code = code|default(true) %}
    {% set minHeight = minHeight|default(false) %}
    {% set form = form|default(false) %}
    {% set scss = scss|default(false) %}
    {% set skin = skin|default(false) %}
    <div data-fc-modules="tabs" class="loading o-v">
        {% if test %}
        <a href="{{ relative_path ~ url.base }}/tests/{{ test }}.html" target="_blank" class="js-tests"><i class="icon-external-link"></i> Launch Js Tests</a>
        {% endif %}
        <section id="tab-{{ id }}-1" class="o-v" data-fc-name="Demo">
            <div class="{% if skin == 'dark' %}box _invert{% else %}box _background{% endif %} o-v" {% if minHeight != false %}style="min-height:{{ minHeight }}"{% endif %}>
                {% if form == true %}
                <form class="form" method="get">
                    <fieldset>
                        <ol>
                            <li>
                                {% endif %}
                                {%  include path %}
                                {% if form == true %}
                            </li>
                        </ol>
                        <button type="submit" class="button">Send</button>
                    </fieldset>
                </form>
                {% endif %}
            </div>
        </section>
        {% if code %}
        <section id="tab-{{ id }}-2" data-fc-name="HTML">
            <div class="box _background">
                <pre><code data-fc-modules="code">{% filter escape %}{%  include path %}{% endfilter %}</code></pre>
            </div>
        </section>
        {% endif %}
        {% if scss %}
            <section id="tab-{{ id }}-3" data-fc-name="SCSS">
                <div class="box _background">
                <pre><code data-fc-modules="code">{% filter escape %}{%  include scss %}{% endfilter %}</code></pre>
                </div>
            </section>
        {% endif %}
        {% if js %}
            <section id="tab-{{ id }}-4" data-fc-name="JS">
                <div class="box _background">
                    <pre><code data-fc-modules="code">{% filter escape %}{%  include js %}{% endfilter %}</code></pre>
                </div>
            </section>
        {% endif %}
    </div>
{% endmacro %}

{% macro code(id, path, test) %}
    {% set test = test|default(false) %}
    {% if test %}
        <a href="{{ relative_path ~ url.base }}/tests/{{ test }}.html" target="_blank" class="js-tests"><i class="icon-external-link"></i> Launch Js Tests</a>
    {% endif %}
    <pre><code data-fc-modules="code">{% filter escape %}{%  include path %}{% endfilter %}</code></pre>
{% endmacro %}

{% macro settings(terms) %}
        <hr />
        <h2 class="mb-m">Attributes</h2>
        <dl class="list">
            {% for term in terms %}
            <dt><h5 class="mb-n c-primary">{{term.name}}</h5></dt>
            <dd class="mb-l">
                <p class="mb-s">{{term.description}}</p>
                {% if term.default %}
                <p class="fz-xs c-secondary">DEFAULT: {{ term.default }}</p>
                {% endif %}
            </dd>
            {% endfor %}
        </dl>
{% endmacro %}

{% macro scss(demopath, scsspath) %}
    <div data-fc-modules="tabs">
        <section id="tab-1" data-fc-name="Description">
            {% filter nl2br |replace({'/*':'<p class="box-background">', '*/':'</p></section><section id="tab-2" data-fc-name="SCSS code"><div class="box-background"><pre><code>'}) %}{%  include scsspath |e('html') %}{% endfilter %}</pre></code></div>
        </section>
        <section id="tab-0" data-fc-name="Demo">
            <div class="box-background">
                {%  include demopath %}
            </div>
        </section>
        <section id="tab-3" data-fc-name="Demo Code">
            <div class="box-background">
                    <pre><code {#data-fc-modules="code"#}>{% filter escape %}{%  include demopath %}{% endfilter %}</code></pre>
            </div>
        </section>
    </div>
{% endmacro %}

{% macro scss_object(scsspath) %}
        <h2>Customize the appearance</h2>
        <p>You can customize the appearance of this object by setting up the vars-custom map for this object. By default de values are the vars-default values.</p>
        <pre><code data-fc-modules="code">{%  include scsspath|e('html') %}</code></pre>
{% endmacro %}

#}