{% set current_children = "Boxes" %}
{% set current_subtitle = "Think in & out the box" %}

{% set current_section = "Content" %}
{% set relative_path = "../" %}

{% import  "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
<div class="row">
    <section class="col-6">
        <h2>Box default</h2>
        {{ demos.demo(
            'box',
            '../../components/boxes/html/box.html'
        )}}
    </section>
    <section class="col-6">
        <h2>Box empty</h2>
        {{ demos.demo(
        'box-empty',
        '../../components/boxes/html/box-empty.html'
        )}}
    </section>
    <section class="col-6">
        <h2>Box background</h2>
        {{ demos.demo(
            'box-text',
            '../../components/boxes/html/box-background.html'
        )}}
    </section>
    <section class="col-6">
        <h2>Box primary</h2>
        {{ demos.demo(
            'box-primary',
            '../../components/boxes/html/box-primary.html'
        )}}
    </section>
    <section class="col-6">
        <h2>Box secondary</h2>
        {{ demos.demo(
            'box-secondary',
            '../../components/boxes/html/box-secondary.html'
        )}}
    </section>
    <section class="col-6">
        <h2>Box foreground</h2>
        {{ demos.demo(
        'box-foreground',
        '../../components/boxes/html/box-foreground.html'
        )}}
    </section>
    <section class="col-6">
        <h2>Box ok</h2>
        {{ demos.demo(
            'box-ok',
            '../../components/boxes/html/box-ok.html'
        )}}
    </section>
    <section class="col-6">
        <h2>Box ko</h2>
        {{ demos.demo(
            'box-ko',
            '../../components/boxes/html/box-ko.html'
        )}}
    </section>
    <section class="col-6">
        <h2>Box info</h2>
        {{ demos.demo(
            'box-info',
            '../../components/boxes/html/box-info.html'
        )}}
    </section>
</div>
{% endblock %}