{% set current_children = "Charts" %}
{% set current_section = "Content" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1><span class="label-js fz-xl va-m">JS</span> Charts</h1>
    <section class="box-lighten">
        <h2>Doughnut charts</h2>
        {{ demos.demo(
        'chart-doughnut',
        '../_demos/content/chart-doughnut.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Pie charts</h2>
        {{ demos.demo(
        'chart-pie',
        '../_demos/content/chart-pie.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Line charts</h2>
        {{ demos.demo(
        'chart-line',
        '../_demos/content/chart-line.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Bar charts</h2>
        {{ demos.demo(
            'chart-bar',
            '../_demos/content/chart-bar.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Doughnut charts no data</h2>
        {{ demos.demo(
        'chart-doughnut-no-data',
        '../_demos/content/chart-doughnut-no-data.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Bar charts no data</h2>
        {{ demos.demo(
        'chart-bar-no-data',
        '../_demos/content/chart-bar-no-data.html'
        )}}
    </section>
    <div class="grid">
        <div class="col-1-2">
            <h1>Canvas</h1>
            {{ demos.settings(
            {
                "1" : {
                "name" :        "data-tc-type",
                "description" : "Type of stats (pie, bar, area or line)",
                "default" : "line"
            },
                "2" : {
                "name" :        "width",
                "description" : "Width in pixels of the stats and the table",
                "default" : "autowidth based on parent element"
            },
                "3" : {
                "name" :        "height",
                "description" : "Height in pixels of the stats and the table in px",
                "default" : "300"
            },
                "4" : {
                "name" :        "data-tc-labels-x",
                "description" : "Array or string separated by comma with the name of the labels for the X axis. The Pie chart and the doughnut chart does'nt have X Axis.",
                "default" : "[]"
            },
                "5" : {
                "name" :        "data-tc-colors",
                "description" : "Array or string separated by comma with the hex colors used for the charts.",
                "default" : "['96c47f','5b90bf','b55151','b48ead','d6b051','82b2af','d4d659','dcdcdc']"
            },
                "6" : {
                "name" :        "data-tc-text-no-data",
                "description" : "Text shown when all values are zero.",
                "default" : "No data"
            }
            }
            )}}
        </div>
        <div class="col-1-2">
            <h1>Inputs</h1>
            <p>You need to create an input hidden for each value (pie, doughnut) or group of values (line, bars)</p>
            {{ demos.settings(
            {
                "1" : {
                "name" :        "name",
                "description" : "The attribute 'name' of each input will be used as label for the legend. If one is missing the legend will not be shown.",
                "default" : "unlabel"
            },
                "2" : {
                "name" :        "value",
                "description" : "Array or string separated by comma with the values of the chart.",
                "default" : "autowidth based on parent element"
            }
            }
            )}}
        </div>
    </div>
{% endblock %}
