{% set current_children = "Lists" %}
{% set current_section = "Typography" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Lists</h1>
    <section class="box-lighten">
        <h2>Unordered list</h2>
        {{ demos.demo(
            'ul-list',
            '../_demos/typography/ul-list.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Unordered list horizontal</h2>
        {{ demos.demo(
        'ul-list-horizontal',
        '../_demos/typography/ul-list-horizontal.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Ordered list</h2>
        {{ demos.demo(
            'ol-list',
            '../_demos/typography/ol-list.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Ordered list horizontal</h2>
        {{ demos.demo(
        'ol-list-horizontal',
        '../_demos/typography/ol-list-horizontal.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Data list</h2>
        {{ demos.demo(
            'dl-list',
            '../_demos/typography/dl-list.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Data list horizontal</h2>
        {{ demos.demo(
        'dl-list-horizontal',
        '../_demos/typography/dl-list-horizontal.html'
        )}}
    </section>
{% endblock %}