{% set current_children = "Paragraphs" %}
{% set current_section = "Typography" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Paragraphs</h1>
    <section class="box-lighten">
        <h2>Default Paragraph</h2>
        {{ demos.demo(
            'paragraph',
            '../_demos/typography/paragraph.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Big Paragraph</h2>
        {{ demos.demo(
            'paragraph-xl',
            '../_demos/typography/paragraph-xl.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Large Paragraph</h2>
        {{ demos.demo(
            'paragraph-l',
            '../_demos/typography/paragraph-l.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Medium Paragraph</h2>
        {{ demos.demo(
            'paragraph-m',
            '../_demos/typography/paragraph-m.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Small Paragraph</h2>
        {{ demos.demo(
            'paragraph-s',
            '../_demos/typography/paragraph-s.html'
        )}}
    </section>
    <section class="box-lighten">
        <h2>Tiny Paragraph</h2>
        {{ demos.demo(
            'paragraph-xs',
            '../_demos/typography/paragraph-xs.html'
        )}}
    </section>

{% endblock %}