{% set current_children = "Subnavigation" %}
{% set current_section = "Navigation" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_object.html.twig" %}


{% block object_title %}
    <h1><span class="label-css fz-xl va-m">CSS</span> Subnavigation</h1>
{% endblock object_title %}

{% block object_demo %}
    <h2>.navigation-sub</h2>
    {{ demos.demo(
    'navigation-sub',
    '../_demos/navigation-sub/navigation-sub.html'
    )}}
    <h2>.navigation-sub .navigation-sub-slim</h2>
    {{ demos.demo(
    'navigation-sub-slim',
    '../_demos/navigation-sub/navigation-sub-slim.html'
    )}}

    <h2>.navigation-sub with .form-search</h2>
    {{ demos.demo(
    'navigation-sub-search',
    '../_demos/navigation-sub/navigation-sub-search.html'
    )}}
    <h2>.navigation-sub .navigation-sub-vertical</h2>
    {{ demos.demo(
    'navigation-sub-vertical',
    '../_demos/navigation-sub/navigation-sub-vertical.html'
    )}}
    <h2>.navigation and .navigation-sub</h2>
    {{ demos.demo(
    'navigation-subnavigation',
    '../_demos/navigation/navigation-subnavigation.html'
    )}}
{% endblock object_demo %}

 {% block object_scss_vars %}
     {{ demos.scss_object(
     '../../css/core/objects/navigation/__vars-navigation-sub.scss',
     'navigation-sub-vars'
     )}}
 {% endblock object_scss_vars %}
