{% set current_children = "Navigation" %}
{% set current_section = "Navigation" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Navigation & Subnavigation</h1>

    <section id="navigation" class="box-lighten">
        <h2><span class="label-css fz-xl va-m">CSS</span> .navigation</h2>
        {{ demos.demo(
            'navigation',
            '../_demos/navigation/navigation.html'
        )}}
        <h2><span class="label-css fz-xl va-m">CSS</span> .navigation .navigation-slim</h2>
        {{ demos.demo(
            'navigation-slim',
            '../_demos/navigation/navigation-slim.html'
        )}}

        <h2><span class="label-css fz-xl va-m">CSS</span> .navigation with .form-search</h2>
        {{ demos.demo(
            'navigation-search',
            '../_demos/navigation/navigation-search.html'
        )}}
        <h2><span class="label-css fz-xl va-m">CSS</span> .navigation .navigation-vertical</h2>
        {{ demos.demo(
            'navigation-vertical',
            '../_demos/navigation/navigation-vertical.html'
        )}}
        <h2><span class="label-css fz-xl va-m">CSS</span> <span class="label-js fz-xl va-m">JS</span> .navigation with dropdown</h2>
        {{ demos.demo(
            'navigation-dropdown',
            '../_demos/navigation/navigation-dropdown.html',
            false, false, false, '200px'
        )}}
        <h2><span class="label-css fz-xl va-m">CSS</span> .navigation and .navigation-sub</h2>
        {{ demos.demo(
            'navigation-subnavigation',
            '../_demos/navigation/navigation-subnavigation.html'
        )}}
    </section>

    {{ demos.scss_object(
        '../../css/core/objects/navigation/__vars.scss'
    )}}
{% endblock %}