{% set current_children = "Navigation" %}
{% set current_section = "Navigation" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_object.html.twig" %}

{% block object_title %}
    <h1><span class="label-css fz-xl va-m">CSS</span> Navigation</h1>
{% endblock object_title %}

{% block object_demo %}
    <h2>.navigation</h2>
    {{ demos.demo(
    'navigation',
    '../_demos/navigation/navigation.html'
    )}}
    <h2>.navigation .navigation-slim</h2>
    {{ demos.demo(
    'navigation-slim',
    '../_demos/navigation/navigation-slim.html'
    )}}

    <h2>.navigation with .form-search</h2>
    {{ demos.demo(
    'navigation-search',
    '../_demos/navigation/navigation-search.html'
    )}}
    <h2>.navigation .navigation-vertical</h2>
    {{ demos.demo(
    'navigation-vertical',
    '../_demos/navigation/navigation-vertical.html'
    )}}
    <h2>.navigation and .navigation-sub</h2>
    {{ demos.demo(
    'navigation-subnavigation',
    '../_demos/navigation/navigation-subnavigation.html'
    )}}
{% endblock object_demo %}

 {% block object_scss_vars %}
     {{ demos.scss_object(
     '../../css/core/objects/navigation/__vars.scss'
     )}}
 {% endblock object_scss_vars %}