{% set current_children = "Subnavigation" %}
{% set current_section = "Navigation" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h1>Subnavigation</h1>
    <section id="navigation" class="box-lighten">
        <h2>.navigation-sub</h2>
        {{ demos.demo(
            'navigation-sub',
            '../_demos/navigation-sub/navigation-sub.html'
        )}}
        <h2>.navigation-sub .navigation-sub-slim</h2>
        {{ demos.demo(
            'navigation-sub-slim',
            '../_demos/navigation-sub/navigation-sub-slim.html'
        )}}

        <h2>.navigation-sub with .form-search</h2>
        {{ demos.demo(
            'navigation-sub-search',
            '../_demos/navigation-sub/navigation-sub-search.html'
        )}}
        <h2>.navigation-sub .navigation-sub-vertical</h2>
        {{ demos.demo(
            'navigation-sub-vertical',
            '../_demos/navigation-sub/navigation-sub-vertical.html'
        )}}
        <h2>.navigation and .navigation-sub</h2>
        {{ demos.demo(
            'navigation-subnavigation',
            '../_demos/navigation/navigation-subnavigation.html'
        )}}
    </section>
{% endblock %}