{% set current_children = "Tabs" %}
{% set current_section = "Navigation" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_object.html.twig" %}

{% block object_title %}
    <h1>Tabs</h1>
{% endblock object_title %}

{% block object_demo %}

        <h2><span class="label-css fz-xl va-m">CSS</span> Static tabs</h2>
        <p>Use this tabs for static tabs with links to new pages.</p>
        {{ demos.demo(
            'tabs',
            '../_demos/tabs/tabs.html'
        )}}


        <h2 class="mt-l"><span class="label-css fz-xl va-m">CSS</span> <span class="label-js fz-xl va-m">JS</span> Dynamic tabs</h2>
        <p>Use this tabs to show hidden content in the DOM.</p>
        {{ demos.demo(
        'tabs-js',
        '../_demos/tabs/tabs-js.html'
        )}}


    <h2 class="mt-l"><span class="label-css fz-xl va-m">CSS</span> Active Tab color</h2>
    <p>By default the active tab is using color to match the .box-background but you can adjust it to match most common boxes</p>
    <h3>Color box tab</h3>
    {{ demos.demo(
        'tabs-box',
        '../_demos/tabs/tabs-box.html'
    )}}
    <h3>Color foreground tab</h3>
    {{ demos.demo(
        'tabs-foreground',
        '../_demos/tabs/tabs-foreground.html'
    )}}
    <h3>Color primary tab</h3>
    {{ demos.demo(
        'tabs-primary',
        '../_demos/tabs/tabs-primary.html'
    )}}
    <h3>Color secondary tab</h3>
    {{ demos.demo(
        'tabs-secondary',
        '../_demos/tabs/tabs-secondary.html'
    )}}


{% endblock object_demo %}

 {% block object_scss_vars %}
     {{ demos.scss_object(
     '../../css/core/objects/tabs/__vars.scss',
     'tabs-vars'
     )}}
 {% endblock object_scss_vars %}
