{% set current_children = "Tel Field" %}
{% set current_section = "Forms" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_basic.html.twig" %}

{% block main %}
    <h3>Simple input</h3>
    {{ demos.demo(
        'simple-field',
        PathComponents ~ 'form-tel-field/html/simple-input.html',
        false,false,true
    )}}

    <h3>Required input (dynamic validation)</h3>
    {{ demos.demo(
        'required-field',
        PathComponents ~ 'form-tel-field/html/validate.html',
        false,false,true
    )}}

    <h3>Specify countries</h3>
    {{ demos.demo(
        'countries-field',
        PathComponents ~ 'form-tel-field/html/country-specify.html',
        false,false,true
    )}}

    <h3>Specify preferred countries</h3>
    {{ demos.demo(
        'preferred-field',
        PathComponents ~ 'form-tel-field/html/preferred-countries.html',
        false,false,true
    )}}

    <h3>Add preffix to the input value</h3>
    {{ demos.demo(
    'preferred-field',
    PathComponents ~ 'form-tel-field/html/prefix-input.html',
    false,false,true
    )}}

    <h3>Totally sync fields</h3>
    {{ demos.demo(
        'sync-field',
        PathComponents ~ 'form-tel-field/html/country-sync.html',
        false,false,true
    )}}

    <h3>Partial sync: Only tel field changes other fields</h3>
    {{ demos.demo(
        'unsync-tel-field',
        PathComponents ~ 'form-tel-field/html/country-tel-sync.html',
        false,false,true
    )}}

    <h3>Partial sync: Other fields changes tel field</h3>
    {{ demos.demo(
        'unsync-other-field',
        PathComponents ~ 'form-tel-field/html/country-other-sync.html',
        false,false,true
    )}}

    {{ demos.settings(
    {
        "0" : {
            "name" :        "required",
            "description" : "Makes the format validation works",
            "default" :     "false"
        },
        "21" : {
            "name" :        "data-fc-text-error",
            "description" : "Text to show when the format number is not valid",
            "default" :     "Invalid"
        },
        "1" : {
            "name" :        "data-fc-prefix",
            "description" : "Adds the prefix automatically to the field",
            "default" :     "false"
        },
        "2" : {
            "name" :        "data-fc-countries",
            "description" : "List separated by comma of iso code countries you want to show.",
            "default" :     "null"
        },
        "3" : {
            "name" :        "data-fc-prefered-countries",
            "description" : "List separated by comma of iso code countries you want add to the top of the list",
            "default" :     "us,gb"
        },
        "5" : {
            "name" :        "data-fc-local-language",
            "description" : "By default the input shows the name of the countries in english but if you set this to true they will be displayed with the local names. ",
            "default" :     "false"
        },
        "6" : {
            "name" :        "data-fc-country-field",
            "description" : "target jQuery selector of one select to fill it with the list of countries and sync with the tel field",
            "default" :     "null"
        },
        "7" : {
            "name" :        "data-fc-code-field",
            "description" : "target jQuery selector of one select to fill it with the list of country codes and sync with the tel field",
            "default" :     "null"
        },
        "9" : {
            "name" :        "data-fc-sync-tel",
            "description" : "If you use the country-field or code-field option this will desactivate the sync of the fields when you change the tel field",
            "default" :     "true"
        },
        "10" : {
            "name" :        "data-fc-sync-country",
            "description" : "If you use the country-field option this will desactivate the sync of the fields when you change the country field",
            "default" :     "true"
        },
        "11" : {
            "name" :        "data-fc-sync-code",
            "description" : "If you use the code-field option this will desactivate the sync of the fields when you change the code field",
            "default" :     "true"
        },
    }
    )}}
{% endblock %}
