{% set current_children = "" %}
{% set current_section = "" %}

{% extends "_layout/_basic.html.twig" %}

{% block fullmain %}
    <div class="grid header">
        <div class="col-1-2">
            <div class="box-none">
                <img src="{{ url.static }}img/frontendcore.png" class="mt-s mb-m" alt="FRONTEND CORE" />
                <h2 class="fw-n">Do it fast. Do it well. Do it responsive.</h2>
                <p>Frontend Core is not a bootstrap or a components libs or Javascript Framework, it's all them together to make your job easier & fun!</p>
                <p>The web is growing so fast and there is always new plugins, tendencies and even more devices making the full process more complex and slow. Frontend Core, <strong>a mix of technology that make us 200% productive and be prepared for the future.</strong></p>
                <p class="pt-m"><a href="https://github.com/tonipinel/frontendcore" class="button-ok button-fat icon-github">Download & Installation</a> <a href="docs.html" class="button-main button-fat icon-file">Read the docs</a></p>
            </div>
        </div>
        <div class="col-1-2">
            <img src="static/img/macbook-sublime.png" class="ma-xl" />
        </div>
    </div>
    <div class="grid ta-c">
        <div class="col-1-4">
            <section class="box-none">
                <img src="{{ url.static }}img/web-components.png" />
                <h2 class="fw-n">Web components</h2>
                <p>Based on the <a href="http://bradfrostweb.com/blog/post/atomic-web-design/" target="_blank">atomic design concept</a>, FrontendCore provides you <strong>patterns, objects & modifiers</strong> to create complex designs based on the markup.</p>
            </section>
        </div>
        <div class="col-1-4">
            <section class="box-none">
                <img src="{{ url.static }}img/mobile-responsive.png" />
                <h2 class="fw-n">Responsive interface</h2>
                <p>All the components are mobile first to make you site mobile from day 1 and is compatible with IE8+,FF,CH, SF with progressive enhancement techniques.</p>
            </section>
        </div>
        <div class="col-1-4">
            <section class="box-none">
                <img src="{{ url.static }}img/scalable-javascript.png" />
                <h2 class="fw-n">Scalable Javascript</h2>
                <p>Based on <strong><a href="https://github.com/mawrkus/tinycore" target="_blank">TinyCore</a></strong> and <strong><a href="http://requirejs.org/" target="_blank">RequireJS</a></strong>, loads and execute <strong>AMD modules</strong> based on the markup providing a incredible balance between easy of use and performance. </p>
            </section>
        </div>
        <div class="col-1-4">
            <section class="box-none">
                <img src="{{ url.static }}img/easy-interface.png" />
                <h2 class="fw-n">Easy User Interface</h2>
                <p>FrontendCore provides you User interface components based on data attributes providing your user a <strong>great User experience and fast development to you.</strong></p>
            </section>
        </div>
    </div>
{% endblock %}