<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>FrontendCore: The all in one frontend framework.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="{{ relative_path ~ url.static }}css/main.css" media="all">
    <!--[if lte IE 8]>
    <script src="{{ relative_path ~ url.static }}/js/ie-old.js"></script>
    <link rel="stylesheet" type="text/css"  href="{{ relative_path ~ url.static }}css/ie-old.css" media="all">
    <script type="text/javascript">
        var $buoop = {reminder: 0};
        $buoop.ol = window.onload;
        window.onload=function(){
            try {if ($buoop.ol) $buoop.ol();}catch (e) {}
            var e = document.createElement("script");
            e.setAttribute("type", "text/javascript");
            e.setAttribute("src", "//browser-update.org/update.js");
            document.body.appendChild(e);
        }
    </script>
    <![endif]-->
    <!--[if gte IE 9]>
    <link rel="stylesheet" type="text/css"  href="{{ relative_path ~ url.static }}css/ie-new.css" media="all">
    <![endif]-->
    <script type="text/javascript">
        var oGlobalSettings = {
            sPathJs : 'static/js/',
            sPathJsCore: '.././',
            sPathJsModules : '{{ relative_path ~ url.static }}js/modules/',
            sPathJsLibs : '{{ relative_path ~ url.static }}js/libs/',
            sPathCss: '{{ relative_path ~ url.static }}css/',
            bResponsiveImages: true
        }
    </script>
    <script src="{{ relative_path ~ url.static }}js/core.js"></script>
</head>
<body data-tc-modules="polyfills">

{% block fullmain %}
<header class="header pb-n o-h">
    <div class="grid">
        <div class="col-2-3">
            <a data-tc-modules="sidemenu" href="#menu" class="button mobile tablet fl-l mt-s mr-l"><i class="icon-align-justify"></i></a>
            <a title="Frontend Core" href="{{ relative_path ~ urlbase }}index.html" class="logo va-m"><img src="{{ relative_path ~ url.static }}img/frontendcore.png" class="va-m" alt="FRONTEND CORE" /></a>
            <a href="https://github.com/tonipinel/frontendcore" class="button-ok d-ib icon-github va-m mt-m desktop" target="_blank">Download & Installation &nbsp;&nbsp;<span class="fz-default fw-n">v. {{ version }}</span></a>
        </div>
        <div class="col-1-3 desktop">
            <gcse:search></gcse:search>
            <gcse:searchresults linkTarget=”_parent”></gcse:searchresults>
        </div>
    </div>
    <div class="fl-l w-50">
    </div>

    <script>
        (function() {
            var cx = '014483888698585740321:x9o_wh1odaq';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>

</header>
<div class="header-spacing"></div>
<div class="grid ph-l">
    <div class="col-1-5">
        {% block navigation %}
            <nav id="menu" class="navigation navigation-vertical desktop">
                <ul>
                    {% for section in sections %}
                        <li>
                            <a href="{{ section.href }}" data-tc-modules="toggle">
                                {{ section.name }}
                                {% if section.children|length > 0 %}
                                    <i class="icon-angle-down fl-r"></i>
                                {% endif %}
                            </a>
                            {% if section.children|length > 0 %}
                            <ul id="{{ section.id }}" {% if section.name != current_section %} class="hidden"{% endif %}>
                            {% for subsection in section.children %}
                                <li {% if subsection.name == current_children %} class="active"{% endif %}>
                                    <a href="{{ relative_path ~ url.base  ~ section.id ~ '/'~  subsection.href }}">{{ subsection.name }} {% if subsection.js %}<span class="fl-r cp">JS</span> {% endif %}</a>
                                </li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endblock %}
    </div>
    <div class="col-4-5">
        {% block main %}{% endblock main %}
    </div>
</div>
{% endblock fullmain %}
<footer class="footer box-primary">
    <div class="col-2-4">
        <h3 class="fw-n">About us</h3>
        <p>FrontendCore comes form the experience of <a href="https://twitter.com/tonipinel" target="_blank" class="td-u fw-b">Toni Pinel</a>. He was working as Principal Frontend Engineer at <a href="https://www.softonic.com" target="_blank" class="td-u">www.Softonic.com</a> & <a href="https://www.obolog.com" target="_blank" class="td-u">www.obolog.com</a>. Is based in the knowledge and the needs to create high quality code and be the more agile possible.</p>
        <p>Be free to contribute to the project, any ideas or developments should be welcome!</p>
    </div>
</footer>
</body>
</html>