<!DOCTYPE html>
<html>
<head>
    <title>FrontendCore: The all in one frontend framework.</title>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="The frontend framework for the real Life. A mix of frontend technologies that makes you 500% productive and be prepared for the future." />
    <meta name="robots" content="all" />
    <meta name="keywords" content="frontend, framework, sass, scss, javascript, requirejs, amd modules, scalable javascript architecture, grid sass" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css"  href="{{ relative_path ~ url.static }}css/ie-old.css" media="all">
    <![endif]-->
    <!--[if gte IE 9]>
    <link rel="stylesheet" type="text/css"  href="{{ relative_path ~ url.static }}css/ie-new.css" media="all">
    <![endif]-->
    <style>
        body { display: none; opacity: 0; }
    </style>
</head>
<body data-fc-modules="polyfills" data-fc-tags="" class="animated fade-in">
{% block fullmain %}
<header class="header desktop">
    <div class="grid">
        <div class="col-2-3">
            <a title="Frontend Core" href="{{ relative_path ~ urlbase }}index.html" class="logo va-m"><img src="{{ relative_path ~ url.static }}img/logo-frontendcore.png" class="va-m" alt="FRONTEND CORE" /></a>
        </div>
        <div class="col-1-3 desktop">
            <gcse:search></gcse:search>
            <gcse:searchresults linkTarget=”_parent”></gcse:searchresults>
        </div>
    </div>
    <div class="fl-l w-50">
    </div>

    <script>
        (function() {
            var cx = '014483888698585740321:x9o_wh1odaq';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
</header>
<header class="header-mobile mobile phablet tablet">
    <div class="header-mobile-container">
        <nav class="header-mobile-buttons-left">
            <a data-fc-modules="side-panel" data-fc-clone="false" href="#menu" class="button"><i class="icon-align-justify"></i></a>
        </nav>
        <a title="Frontend Core" href="{{ relative_path ~ urlbase }}index.html" class="logo mb-m"><img src="{{ relative_path ~ url.static }}img/logo-frontendcore.png" class="va-m" alt="FRONTEND CORE" /></a>
        <nav class="header-mobile-buttons-right">

        </nav>
    </div>
</header>
<div class="grid grid-main">
    <div class="col-1-5">
        {% block navigation %}
            <nav id="menu" class="navigation navigation-vertical desktop">
                <ul>
                    {% for section in sections %}
                        <li>
                            <a href="{{ section.href }}" data-fc-modules="toggle">
                                {{ section.name }}
                                {% if section.children|length > 0 %}
                                    <i class="icon-angle-down fl-r"></i>
                                {% endif %}
                            </a>
                            {% if section.children|length > 0 %}
                            <ul id="{{ section.id }}" {% if section.name != current_section %} class="hidden"{% endif %}>
                            {% for subsection in section.children %}
                                <li {% if subsection.name == current_children %} class="active"{% endif %}>
                                    <a href="{{ relative_path ~ url.base  ~ section.id ~ '/'~  subsection.href }}">{{ subsection.name }} {% if subsection.js %}<span class="fl-r cp">JS</span> {% endif %}</a>
                                </li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endblock %}
    </div>
    <div class="col-4-5">
        <div class="box-none">{% block main %}{% endblock main %}</div>
    </div>
</div>
{% endblock fullmain %}
<footer class="footer box-primary mb-n">
    <div class="grid">
        <div class="col-2-4">
            <div class="box-primary mb-n">
                <h3 class="fw-n">About us</h3>
                <p>FrontendCore comes form the experience of <a href="https://twitter.com/tonipinel" target="_blank" class="td-u fw-b">Toni Pinel</a>. He was working as Principal Frontend Engineer at <a href="https://www.softonic.com" target="_blank" class="td-u">www.Softonic.com</a> & <a href="https://www.obolog.com" target="_blank" class="td-u">www.obolog.com</a>. Is based in the knowledge and the needs to create high quality code and be the more agile possible.</p>
                <p>Be free to contribute to the project, any ideas or developments should be welcome!</p>
            </div>
        </div>
        <div class="col-2-4">
            <p><a title="Frontend Core" href="{{ relative_path ~ urlbase }}index.html" class="logo mr-m"><img src="{{ relative_path ~ url.static }}img/logo-frontendcore.png" class="va-m" alt="FRONTEND CORE" /></a></p>
            <p><a href="{{ relative_path ~ urlbase }}setup/download.html" class="button-ok button-fat icon-download pv-m ta-l">Download & Installation <br/><span class="fz-default fw-n pl-l d-ib">&nbsp;&nbsp;&nbsp;Current release {{ version }}</span></a></p>
        </div>
    </div>
</footer>
<!--[if lte IE 8]>
<script src="{{ relative_path ~ url.static }}/js/ie-old.js"></script>
<script type="text/javascript">
    var $buoop = {reminder: 0};
    $buoop.ol = window.onload;
    window.onload=function(){
        try {if ($buoop.ol) $buoop.ol();}catch (e) {}
        var e = document.createElement("script");
        e.setAttribute("type", "text/javascript");
        e.setAttribute("src", "//browser-update.org/update.js");
        document.body.appendChild(e);
    }
</script>
<![endif]-->
<script type="text/javascript">
    var oGlobalSettings = {
        sPathJs : '/static/js/',
        sPathJsCore: '/static/js/',
        sPathJsModules : '{{ relative_path ~ url.static }}js/modules/',
        sPathJsLibs : '{{ relative_path ~ url.static }}js/libs/',
        sPathCss: '{{ relative_path ~ url.static }}css/',
        bResponsiveImages: true,
        sHash : '{{ version|replace({'.':''}) }}',
        oCss: {
            '{{ relative_path ~ url.static }}css/main.css?v={{ version|replace({'.':''}) }}' : 'all'
        }
    }
</script>
<script defer src="{{ relative_path ~ url.static }}js/core.js?v={{ version|replace({'.':''}) }}"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60626121-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
