{% set current_children = "Buttons" %}
{% set current_subtitle = "buttons with variants for all your needs" %}

{% set current_section = "Buttons" %}
{% set relative_path = "../" %}
{% import "../_macros/_demo.html.twig" as demos %}

{% extends "../_layout/_object.html.twig" %}


{% block object_demo %}
    <h2>Default buttons</h2>
    {{ demos.demo(
        'buttons',
        '../../components/buttons/html/buttons.html'
    )}}
     <hr />
    <h2>Small buttons</h2>
    {{ demos.demo(
        'button-slim',
        '../../components/buttons/html/buttons-slim.html'
    )}}
    <hr />
    <h2>Large buttons</h2>
    {{ demos.demo(
        'button-fat',
        '../../components/buttons/html/buttons-fat.html'
    )}}
    <h2>Icon with hover buttons</h2>
    {{ demos.demo(
        'button-icon',
        '../../components/buttons/html/buttons-icons.html'
    )}}
{% endblock object_demo %}


 {% block object_scss_vars %}
     {{ demos.scss_object(
     '../../components/buttons/scss/_button_vars.scss',
     'buttons-vars'
     )}}
 {% endblock object_scss_vars %}